<%- include('../partials/header') %>

    <main class="form-page">

        <div class="form-container">

            <h1>Add Product</h1>

            <form action="/products/create" method="POST">

                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" name="name" required>
                </div>

                <div class="form-group">
                    <label>Price (€)</label>
                    <input type="number" step="0.01" name="price" required>
                </div>

                <div class="form-group">
                    <select name="collection" required>
                        <option value="">Select Collection</option>

                        <% collections.forEach(c=> { %>
                            <option value="<%= c.name %>">
                                <%= c.name %>
                            </option>
                            <% }) %>

                    </select>
                </div>

                <div class="form-group">
                    <label>Gender</label>

                    <select name="gender">
                        <option value="">Select</option>
                        <option value="women">Women</option>
                        <option value="men">Men</option>
                        <option value="unisex">Unisex</option>
                    </select>

                </div>

                <div class="form-group">
                    <label>Size</label>

                    <select name="size">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Image URL</label>
                    <div class="image-preview-container">

                        <img id="imagePreview" src="https://placehold.co/600x800?text=Preview" alt="Preview">

                    </div>
                    <input type="url" name="imageUrl" id="imageUrl" placeholder="https://..." required>
                </div>

                <div class="form-group">
                    <label>Stock</label>
                    <input type="number" name="stock">
                </div>

                <div class="form-group">
                    <label>Discount (%)</label>
                    <input type="number" name="discount">
                </div>

                <button type="submit" class="btn-primary">
                    Add Product
                </button>

            </form>

        </div>

    </main>

    <%- include('../partials/footer') %>