<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gracas Maria</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <script src="/js/main.js"></script>
</head>

<body>

    <header class="main-header" id="mainHeader">
        <div class="menu-nav">
            <div class="logo">
                <a href="/">Gracas Maria</a>
            </div>

            <div class="hamburger" id="hamburger">☰</div>

            <nav class="navbar">
                <a href="/products">Products</a>
                <a href="/products/collections">Collections</a>
                <a href="/products/admin">Admin</a>
                <!-- <a href="/products?filter=new">New</a>
                <a href="/products?filter=sale">Sale</a> -->
            </nav>
        </div>
        <!-- Future Authentication Improvement -->
        <!-- <div class="user-nav">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/account">Account</a>
            <a href="/orders">Orders</a>
        </div> -->

    </header>

    <!-- OUTSIDE HEADER -->
    <div class="mobile-menu" id="mobileMenu">
        <div class="mobile-nav">
            <div class="mobile-menu-top">

                <div class="close-btn" id="closeMenu">✕</div>

            </div>

            <nav class="mobile-links">
                <a href="/products">Products</a>
                <a href="/products/collections">Collections</a>
                <a href="/admin">Admin</a>
                <!-- <a href="/products?filter=new">New</a>
                <a href="/products?filter=sale">Sale</a> -->
            </nav>
        </div>
        <!-- <div class="mobile-user">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/account">Account</a>
            <a href="/orders">Orders</a>
        </div> -->

    </div>
    <script src="/js/main.js"></script>

</body>